<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ str[0] }}: {{ etapa.descricao }}</title>
</head>
<body>
<div style="padding:10px">
    <p>
        Prezado(a) {{ usuario.nome }},<br>
        Gostaríamos de informar que a etapa
        <b><i>{{ etapa.descricao }}</i></b> do processo seletivo está aberta para {{ str[1] }}.<br>
        Nesta etapa, temos um total de {{ qtd }} {{ str[2] }}.
    </p>
    <h4>DETALHES DA ETAPA:</h4>
    <ul>
        <li>Edital: {{ etapa.idEdital.titulo }}</li>
        <li>Etapa: {{ etapa.descricao }}</li>
        <li>Número de Candidatos: {{ qtd }}</li>
        <li>Período de Avaliação:
            De {{ etapa.dataInicial|date('d/m/Y \\á\\s H:i:s')}}
            a {{ etapa.dataFinal|date('d/m/Y \\á\\s H:i:s')}}
        </li>
    </ul>
    <p>
        Sua participação é fundamental para garantir um processo seletivo justo e eficiente.
        <br>
        Para acessar a plataforma e iniciar a {{ str[1] }}, por favor, faça login na sua conta e siga as instruções para a etapa
        <a href="https://processoseletivo.nte.ufsm.br{{ path(etapa.route, {etapa: etapa.id}) }}">
            https://processoseletivo.nte.ufsm.br{{ path(etapa.route,{etapa: etapa.id}) }}
        </a>.
    </p>
    {#
    <p>
        Se você tiver alguma dúvida ou precisar de assistência,
        não hesite em entrar em contato conosco.
        </p>
    #}
    <p>
        Agradecemos pelo seu comprometimento e contribuição para o sucesso deste processo seletivo.
        <br>
        Atenciosamente,
    </p>
    <br><br><br><br>
    <center>
        <small>
            Esta é uma mensagem automática disparada pela plataforma.<br>
            Favor não responder este e-mail.
        </small>
    </center>
</div>
</body>
</html>