{% extends 'base.admin.html.twig' %}
 {% block titulo %} Auditoria Edital Recurso {% endblock %}
 {% block breadcumbsTitulo %} Auditoria Edital Recurso {% endblock %}
 {% block breadcumbsItens %}
     <li><span><a href="#"> Auditoria </a></span></li>
     <li><span>Edital</span></li>
     <li><span>Recurso</span></li>
 {% endblock %}
{% block conteudo %}
    <div class="row">
        {{ include('@NteAplicacaoFriga/Auditoria/menu-edital.html.twig', {entidade: edital}) }}
        <div class="col-md-9 col-lg-10">
            <section class="panel">
                <div class="panel-body">
                    {% if edital.recursos.count %}
                        <table class="table table-hovered">
                            <thead>
                            <tr>
                                <th>Inscrição</th>
                                <th>Etapa</th>
                                <th>Situação</th>
                                <th class="text-center">Data</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for recurso in edital.recursos %}
                                <tr>
                                    <td>
                                        {{ recurso.idInscricao.uuid }}&nbsp;-&nbsp;<b class="text-uppercase">{{ recurso.idInscricao.nome }}</b>
                                        <br>
                                        {{ recurso.idInscricao.idCargo.descricao }}
                                        {% if recurso.idInscricao.idCota %}/
                                            {{ recurso.idInscricao.idCota.descricao }}
                                        {% endif %}
                                    </td>
                                    <td class="">
                                        {{ recurso.idEditalEtapa.descricao }}
                                    </td>
                                    <td width="150" class="">
                                        <small class="{{recurso.objsituacao.css}}"><i class="{{ recurso.objsituacao.icone }}"></i>
                                            {{recurso.objsituacao.descricao}}
                                        </small>
                                    </td>
                                    <td width="170" class="text-right">
                                        {{ recurso.registroDataCriacao|date('d/m/Y H:i:s') }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <section class="body-error error-inside">
                            <div class="center-error">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="main-error mb-xlg">
                                            <h2 class="error-code text-dark text-center text-weight-semibold m-none">0 <i
                                                        class="fa fa-gavel text-primary"></i></h2>
                                            <p class="error-explanation text-center text-primary">
                                                <br><b>Nenhum recurso </b> disponível.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>

{% endblock %}
