{% extends 'base.admin.html.twig' %}

{% block titulo %} {{ frigaedital.uuid }}/Pontuação/Edição{% endblock %}
{% block breadcumbsTitulo %} {{ frigaedital.uuid }}/Pontuação/Edição {% endblock %}
{% block conteudo %}
    <div class="row">
        {{ include('@NteAplicacaoFriga/edital/menu.html.twig', {entidade: frigaedital}) }}
        <div class="col-md-9 col-lg-10">
            <section class="panel-body">
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary center-block"><i class="fa fa-save"></i> Salvar </button>
                </div>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}
