{% extends 'base.admin.html.twig' %}
{% block titulo %} {{ frigaedital.uuid }}/Avaliadores/Cargo{% endblock %}
{% block breadcumbsTitulo %} {{ frigaedital.uuid }}/Avaliadores/Cargo {% endblock %}
{% block conteudo %}
    {{ form_start(config_form) }}
    <div class="row">
        {{ include('@NteAplicacaoFriga/edital/menu.html.twig', {entidade: frigaedital}) }}
        <div class="col-md-9 col-lg-10">
            <section class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 control-label">
                                {{ form_label(config_form.idEditalCargo) }}
                            </label>
                            <div class="col-md-8">
                                {{ form_widget(config_form.idEditalCargo) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12"><br>
                        <button class="btn btn-primary pull-right" type="submit">
                            <i class="fa fa-save"></i> Salvar
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{ form_end(config_form) }}
{% endblock %}