{% extends 'base.admin.html.twig' %}
{% block titulo %} {{ frigaedital.uuid }}/Vaga{% endblock %}
{% block breadcumbsTitulo %} {{ frigaedital.uuid }}/Vaga {% endblock %}
{% block conteudo %}
    <div class="row">
        {{ include('@NteAplicacaoFriga/edital/menu.html.twig', {entidade: frigaedital}) }}
        <div class="col-md-9 col-lg-10">
            <section class="panel-body">
                {% if frigaedital.cargo|length %}
                    <table class="table table-hover table-condesed ">
                        <thead>
                        <tr>
                            <th>Vaga</th>
                            <th>Avaliadores</th>
                            <th>Inscritos</th>
                            <th>
                                <a href="{{ path('edital_cargo_criar',{uuid: frigaedital.uuid}) }}"
                                   class="btn btn-primary pull-right">
                                    <i class="fa fa-plus-circle"></i> Adicionar
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cargo in frigaedital.cargo %}
                            <tr>
                                <td>{{ cargo.descricao }}</td>
                                <td>
                                    {%  if cargo.idEditalUsuario|length > 0 %}
                                    {{ cargo.idEditalUsuario|length }}
                                    {% else %}
                                        Nenhum
                                     {% endif %}
                                </td>
                                <td>
                                    {%  if cargo.idEditalUsuarioInscrito|length > 0 %}
                                        {{ cargo.idEditalUsuarioInscrito|length }}
                                    {% else %}
                                        Nenhum
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm pull-right">
                                    <a class="btn btn-default"
                                       href="{{ path('edital_cargo_editar',{uuid: frigaedital.uuid, cargo: cargo.id}) }}">
                                        <i class="fa fa-edit"></i> Editar
                                    </a><a class="btn btn-default"
                                       href="{{ path('edital_cargo_remover',{uuid: frigaedital.uuid, cargo: cargo.id}) }}">
                                        <i class="fa fa-edit"></i> Remover
                                    </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <section class="body-error error-inside">
                        <div class="center-error">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-error mb-xlg">
                                        <h2 class="error-code text-dark text-center text-weight-semibold m-none">
                                            <i class="fa fa-gift text-primary"></i>
                                        </h2>
                                        <p class="error-explanation text-center text-primary">
                                            <br><b>Nenhum cargo foi criado </b> até o momento.<br>
                                            <br>
                                            <br>
                                            <a href="{{ path('edital_cargo_criar',{uuid: frigaedital.uuid}) }}"
                                               class="btn btn-primary">
                                                <i class="fa fa-plus-circle"></i> Criar o primeiro cargo
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}