{% extends '@NteSite/Default/layout.site.html.twig' %}
{% block titulo %} {{ edital.titulo }}{% endblock %}
{% block metaDescricao %} {{ edital.sobre }}{% endblock %}
{% block chamada %}
    <div class="home-intro" id="home-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p>
                        {{ edital.numero }} - {{ edital.titulo }}
                        {% if edital.getPeriodoInscricaoAtual is not null %}
                            está com  <em>Inscrições Abertas</em>
                            de {{ edital.getPeriodoInscricaoAtual.dataInicial|date('d/m/Y') }} até {{ edital.getPeriodoInscricaoAtual.dataFinal|date('d/m/Y') }}.
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-3">
                    {% if edital.getPeriodoInscricaoAtual is not null %}
                        <div class="get-started">
                            <a href="{{ path('nte_usuario_candidato_inscricao',{'uuid': edital.uuid}) }}"
                               class="btn btn-lg btn-inverse">
                                <i class="fa fa-user-plus"></i> Inscreva-se</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block conteudo %}
    <div class="container">
        <div class="row mb-xl">
            <div class="col-md-7">
                <h2 class="mb-xl"><strong>Sobre </strong> o edital</h2>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify">{{ edital.sobre|nl2br }} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-box feature-box-style-2 appear-animation fadeInLeft appear-animation-visible"
                             data-appear-animation="fadeInLeft" data-appear-animation-delay="0">
                            <div class="feature-box-icon">
                                <i class="icon-users icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-sm">Vagas</h4>
                                <p class="mb-lg text-justify">{{ edital.info1|nl2br }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box feature-box-style-2 appear-animation fadeInLeft appear-animation-visible"
                             data-appear-animation="fadeInLeft" data-appear-animation-delay="0">
                            <div class="feature-box-icon">
                                <i class="icon-wallet icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-sm">Bolsa</h4>
                                <p class="mb-lg text-justify"> {{ edital.info2|nl2br }} </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-md">
                    <div class="col-md-6">
                        <div class="feature-box feature-box-style-2 appear-animation fadeInLeft appear-animation-visible"
                             data-appear-animation="fadeInLeft" data-appear-animation-delay="300"
                             style="animation-delay: 300ms;">
                            <div class="feature-box-icon">
                                <i class="icon-user-following icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-sm">Inscrições</h4>
                                <p class="mb-lg">As inscrições poderão ser realizadas no período de
                                    <strong>{{ edital.periodoInscricao.dataInicial|date('d/m/Y') }}</strong>
                                    Até <strong>{{ edital.periodoInscricao.dataFinal|date('d/m/Y') }}</strong>. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-box feature-box-style-2 appear-animation fadeInLeft appear-animation-visible"
                             data-appear-animation="fadeInLeft" data-appear-animation-delay="300"
                             style="animation-delay: 300ms;">
                            <div class="feature-box-icon">
                                <i class="icon-trophy icons"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4 class="mb-sm">Resultado Final</h4>
                                <p class="mb-lg">O resultado desta seleção será divulgado em
                                    <strong>  {{ edital.resultadoFinal.dataDivulgacao is defined? edital.resultadoFinal.dataDivulgacao|date('d/m/Y'):"Não informado" }}</strong>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h2 class="mb-xl"><strong>Informações</strong> Importantes</h2>
                <ul class="list list-icons list-primary list-borders">
                    {% set icone = {'4':'fa fa-globe','5':'fa fa-calendar-check-o',
                        '7':'fa fa-gavel','8':'fa fa-th','9':'fa fa-th','0':'fa fa-file-pdf-o'
                    } %}
                    {% for item in edital.informacaoPublico %}
                        {% set url='#' %}
                        {% if item.tipo == 4 %}
                            {% set url =path('nte_site_edital_classificao', {'etapa': item.id, 'uuid': edital.uuid}) %}
                        {% elseif item.tipo  == 5 %}
                            {% if item.final %}
                                {% set url =path('nte_site_edital_convocacao', {'etapa': item.id, 'uuid': edital.uuid, data: item.data|date('Y-m-d')}) %}
                            {% else %}
                                {% set url =path('nte_site_edital_convocacao', {'etapa': item.id, 'uuid': edital.uuid }) %}
                            {% endif %}
                        {% elseif item.tipo  == 7 %}
                            {% set url=path('nte_site_edital_recurso', {'etapa': item.id, 'uuid': edital.uuid}) %}
                        {% elseif item.tipo  == 8 %}
                            {% set url=path('nte_site_edital_lista', {'etapa': item.id, 'uuid': edital.uuid}) %}
                        {% elseif item.tipo  == 9 %}
                            {% set url=path('nte_site_edital_lista', {'etapa': item.id, 'uuid': edital.uuid}) %}
                        {% elseif item.tipo  == 0 %}
                            {% set url=path('nte_site_arquivo_download',{id:item.id}) %}
                        {% endif %}
                        <li>
                            <a href="{{ url }}" title="{{ item.titulo }}">
                                <h4><i class="{{ icone[item.tipo] }}"></i></h4>
                                <strong>{{ item.data|date('d/m/Y') }}</strong> - {{ item.titulo }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <h2 class="mb-xl"><strong>Etapas</strong> do Edital </h2>
            </div>
            <div class="col-md-offset-2 col-lg-offset-4 col-md-8">
                <div class="tracking-list">
                    {% if edital.idEtapaCategoria.empty %}
                        {% for etapa in edital.etapaCronologica %}
                            <div class="tracking-item">
                                <div class="tracking-icon status-{% if etapa.andamentoPrazo %}delivered{% else %}intransit{% endif %}">
                                    <i class="{{ etapa.objTipo.icone }}"></i>
                                </div>
                                <div class="tracking-date">{{ etapa.dataInicial|date('d/m/Y') }}</div>
                                <div class="tracking-content">
                                    {{ etapa.descricao }}
                                    {% if etapa.tipo ==1
                                        or etapa.tipo == 2
                                        or etapa.tipo == 3
                                        or etapa.tipo == 6
                                        or etapa.tipo == 7 %}
                                        <span>
                                        De {{ etapa.dataInicial|date('d/m/Y') }}
                                        Até {{ etapa.dataFinal|date('d/m/Y ') }}
                                    </span>
                                    {% endif %}
                                    {% if etapa.tipo ==3
                                        or etapa.tipo == 4
                                        or etapa.tipo == 5
                                        or etapa.tipo == 7 %}
                                        <span>
                                        Divulgação: {{ etapa.dataDivulgacao|date('d/m/Y') }}
                                    </span>
                                    {% endif %}
                                    {% if (etapa.tipo ==3
                                        or etapa.tipo == 4
                                        or etapa.tipo == 5
                                        or etapa.tipo == 7)
                                        and edital.idEditalUsuarioBanca.count %}
                                        <span>
                                        <br>
                                        Comissão de avaliação:<br>
                                        {% for u in edital.idEditalUsuarioBanca %}
                                        <a href="{{ u.idUsuario.lattes?u.idUsuario.lattes:"#" }}">
                                            {{ u.idUsuario.nome }}
                                            </a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for cat in edital.idEtapaCategoria %}
                            <h6 class="mt-md"><strong>{{ cat.ordem }} - {{ cat.descricao }}</strong></h6>
                            {% for etapa in cat.etapaCronologica %}
                                <div class="tracking-item">
                                    <div class="tracking-icon status-{% if etapa.andamentoPrazo %}delivered{% else %}intransit{% endif %}">
                                        <i class="{{ etapa.objTipo.icone }}"></i>
                                    </div>
                                    <div class="tracking-date">{{ etapa.dataInicial|date('d/m/Y') }}</div>
                                    <div class="tracking-content">
                                        {{ etapa.descricao }}
                                        {% if etapa.tipo ==1
                                            or etapa.tipo == 2
                                            or etapa.tipo == 3
                                            or etapa.tipo == 6
                                            or etapa.tipo == 7 %}
                                            <span>
                                        De {{ etapa.dataInicial|date('d/m/Y') }}
                                        Até {{ etapa.dataFinal|date('d/m/Y ') }}
                                    </span>
                                        {% endif %}
                                        {% if etapa.tipo ==3
                                            or etapa.tipo == 4
                                            or etapa.tipo == 5
                                            or etapa.tipo == 7 %}
                                            <span>
                                        Divulgação: {{ etapa.dataDivulgacao|date('d/m/Y') }}
                                    </span>
                                        {% endif %}
                                        {% if (etapa.tipo ==3
                                            or etapa.tipo == 4
                                            or etapa.tipo == 5
                                            or etapa.tipo == 7)
                                            and edital.idEditalUsuarioBanca.count %}
                                            <span>
                                        <br>
                                        Comissão de avaliação:<br>
                                        {% for u in edital.idEditalUsuarioBanca %}
                                        <a href="{{ u.idUsuario.lattes?u.idUsuario.lattes:"#" }}">
                                            {{ u.idUsuario.nome }}
                                            </a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    <div class="container">

    </div>

    <style>
        .btn.btn-lg.btn-inverse:hover {
            background-color: #153c4b;
        }

        .btn.btn-lg.btn-inverse {
            background-color: #38ae8a;
            color: #fff;
            border: #fff 2px solid;
            font-weight: bold;
        }

        .tracking-item {
            border-left: 1px solid #214977;
            position: relative;
            padding: 2rem 1.5rem .5rem 2.5rem;
            margin-left: 3rem;
            min-height: 5rem
        }

        .tracking-item:last-child {
            padding-bottom: 4rem
        }

        .tracking-item .tracking-date {
            margin-bottom: .5rem
        }

        .tracking-item .tracking-date span {
            color: #888;
            padding-left: .4rem
        }

        .tracking-item .tracking-content {
            padding: .5rem .8rem;
            background-color: #f4f4f4;
            border-radius: .5rem
        }

        .tracking-item .tracking-content span {
            display: block;
            color: #888;

        }

        .tracking-item .tracking-icon {
            line-height: 2.6rem;
            position: absolute;
            left: -1.3rem;
            width: 2.6rem;
            height: 2.6rem;
            text-align: center;
            border-radius: 50%;
            background-color: #fff;
            color: #fff
        }

        .tracking-item .tracking-icon.status-delivered {
            background-color: #214977
        }

        .tracking-item .tracking-icon.status-intransit {
            color: #214977;
            border: 1px solid #214977;
        }

        @media (min-width: 992px) {
            .tracking-item {
                margin-left: 10rem
            }

            .tracking-item .tracking-date {
                position: absolute;
                left: -10rem;
                width: 7.5rem;
                text-align: right
            }

            .tracking-item .tracking-date span {
                display: block
            }

            .tracking-item .tracking-content {
                padding: 0;
                background-color: transparent
            }
        }
    </style>
{% endblock %}
    {% block rodape %}
        <footer class="short" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Dúvidas sobre este edital</h4>
                        <p class="text-weight-bold">
                            {{ edital.info3|raw }}
                        </p>
                        <!--<hr class="light">-->
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="mb-sm">Inscrições </h5>
                        <i class="fa fa-calendar"> </i> &nbsp;
                        {% if edital.periodoInscricaoAtual is null %}
                            <b>De</b> {{ edital.periodoInscricao.dataInicial|date('d/m/Y') }}
                            <b>Até</b> {{ edital.periodoInscricao.dataFinal|date('d/m/Y') }}
                        {% else %}
                            <b>De</b> {{ edital.periodoInscricaoAtual.dataInicial|date('d/m/Y') }}
                            <b>Até</b> {{ edital.periodoInscricaoAtual.dataFinal|date('d/m/Y') }}
                        {% endif %}
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="mb-sm">Resultado Final </h5>
                        <i class="fa fa-calendar"> </i>
                        &nbsp; {{ edital.resultadoFinal.dataDivulgacao is defined? edital.resultadoFinal.dataDivulgacao|date('d/m/Y'):"Não informado" }}
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br><br>
                            <a href="https://ufsm.br/">
                                <img alt="" src="{{ asset('assets/img/UFSM_marca-web.png') }}" style="max-width: 100%">
                            </a>
                            <br>
                            <small>
                                <a href="https://www.ufsm.br/pro-reitorias/prograd/cte/" style="color: #777">
                                    Coordenadoria
                                    de Tecnologia
                                    Educacional
                                </a>
                                <br>
                                Av. Roraima nº 1000 - Prédio 14, Bairro Camobi, CEP: 97105-900 Santa Maria - RS -
                                Telefone:
                                (55) 3220-8007
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
