{% extends '@NteSite/Default/layout.site.html.twig' %}
{% block titulo %} {{ edital.titulo }}{% endblock %}
{% block metaDescricao %} {{ edital.sobre }}{% endblock %}
{% block chamada %}
    <div class="home-intro" id="home-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>{{ edital.numero }} - {{ edital.titulo }}
                    </p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block conteudo %}
    <div class="container">
        <div class="row mb-xl">
            {% if data.count %}
                {% if etapa.tipo == 8 and edital.modeloInscricao == 0 %}
                <h2 class="mb-xl">Listagem dos <strong>Candidatos</strong> Inscritos</h2>
                {% endif %}
                {% if etapa.tipo == 8 and edital.modeloInscricao == 1 %}
                    <h2 class="mb-xl">Listagem dos <strong>Projetos</strong> Inscritos</h2>
                {% endif %}
                {% if etapa.tipo == 9 %}
                    <h2 class="mb-xl">Listagem da  <strong>Comissão de avaliação</strong> </h2>
                {% endif %}
                {{ etapa.observacao|raw }}

                <table class="table table-responsive table-condensed table-bordered mt-md">
                    {% if etapa.tipo == 8 and edital.modeloInscricao == 0 %}
                        <thead>
                        <tr>
                            <th width="10">Inscrição</th>
                            <th>Nome</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            <tr>
                                <td>{{ item.uuid }}</td>
                                <td>{{ item.nome|upper }}</td>
                                <td>{{ item.idCota.descricao }}
                                    <div style="display: none;">{{ item.idUsuario.id }}</div>
                                </td>
                                <td>{{ item.idCargo.descricao }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                    {% if etapa.tipo == 8 and edital.modeloInscricao == 1 %}
                        <thead>
                        <tr>
                            <th>Inscrição</th>
                            <th colspan="3">Projeto</th>
                            <th>Participantes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            {% for subitem in item.idProjetoParticipante %}
                                <tr>
                                    <td>{{ item.uuid }}</td>
                                    <td>
                                        {{ item.projetoTitulo }}
                                    </td>
                                    <td>{{ item.idCota.descricao }}
                                        <div style="display: none;">{{ item.uuid }}</div>
                                    </td>
                                    <td>{{ item.idCargo.descricao }}
                                        <div style="display: none;">{{ item.uuid }}</div>
                                    </td>
                                    <td>{{ subitem.nome }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    {% endif %}
                    {% if etapa.tipo == 9 %}
                        <thead>
                        <tr>
                            <th>Nome</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            <tr>
                                <td>
                                    <a href="{{ item.idUsuario.lattes?item.idUsuario.lattes:"#" }}">
                                        {{ item.idUsuario.nome|upper }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            {% else %}
                <div class="body-error error-inside">
                    <div class="center-error">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-error mb-xlg">
                                    <h2 class="error-code text-dark text-center text-weight-semibold m-none">
                                        0 <i class="fa {{ etapa.objTipo.icone }} text-primary"></i></h2>
                                    <p class="error-explanation text-center text-primary">
                                        {% if etapa.tipo == 8 %}
                                            <br><b>Nenhum candidato </b> inscrito até o momento.
                                        {% endif %}
                                        {% if etapa.tipo == 9 %}
                                            <br><b>Nenhum avaliador </b> registrado até o momento.
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block rodape %}
    <footer class="short" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Dúvidas sobre este edital</h4>
                    <p class="text-weight-bold">
                        {{ edital.info3|raw }}
                    </p>
                    <hr class="light">
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="mb-sm">Inscrições </h5>
                    <i class="fa fa-calendar"> </i> &nbsp;
                    <b>De</b> {{ edital.periodoInscricao.dataInicial|date('d/m/Y') }}
                    <b>Até</b> {{ edital.periodoInscricao.dataFinal|date('d/m/Y') }}
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="mb-sm">Resultado Final </h5>
                    <i class="fa fa-calendar"> </i>
                    &nbsp; {{ edital.resultadoFinal.dataDivulgacao is defined? edital.resultadoFinal.dataDivulgacao|date('d/m/Y'):"Não informado" }}
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="{{ path('nte_site_homepage') }}" class="logo">
                            <img alt="" class="img-responsive"
                                 src="{{ asset('assets/img/marca_apenas_sigla_branca.svg') }}">
                        </a>
                    </div>
                    <div class="col-md-11">
                        <p>Núcleo de Tecnologia Educacional </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block jsOpcional %}
    <script src="{{ asset('assets/vendor/jquery.rowspanizer/jquery.rowspanizer.min.js') }}"></script>
{% endblock %}
{% block js %}
    {% if etapa.tipo == 8 and edital.modeloInscricao == 0 %}
        <script>
            $("table").rowspanizer({
                vertical_align: 'middle',
                columns: [1,2]
            });
        </script>
    {% endif %}
    {% if etapa.tipo == 8 and edital.modeloInscricao == 1 %}
    <script>
        $("table").rowspanizer({
            vertical_align: 'middle',
            columns: [0, 1,2,3]
        });
    </script>
    {% endif %}
{% endblock %}