{% extends 'base.admin.html.twig' %}
{% block titulo %} Chamado {% endblock %}

{% block breadcumbsTitulo %} Chamado {% endblock %}
{% block breadcumbsItens %}
    <li><span><a href="{{ path('nte_suporte_homepage') }}"> Suporte</a></span></li>
    <li><span><a href="#"> Abertura de Chamado</a></span></li>
{% endblock %}
{% block conteudo %}
    <section class="panel-group mb-xlg">
        <div class="widget-twitter-profile">
            <div class="top-image">
            </div>
            <div class="profile-info">
                <div class="profile-picture">
                    <img src="{{ path('arquivo_download', {id: app.user.img}) }}" alt="">
                </div>
                <div class="profile-account">
                    <h3 class="name text-weight-semibold">{{ suporte.idUsuarioSolicitante.nome }}</h3>
                    <a href="#" class="account">{{ suporte.idUsuarioSolicitante.email }}</a>
                </div>
                <ul class="profile-stats">
                    <li>
                        <h5 class="stat text-uppercase">Situação</h5>
                        <h4 class="count">
                            {% if suporte.idSituacao == null %}
                                Novo Chamado
                            {% elseif suporte.idSituacao == 0 %}
                                Aberto
                            {% elseif suporte.idSituacao == 1 %}
                                Em Analise
                            {% elseif suporte.idSituacao == 99 %}
                                Fechado
                            {% endif %}
                        </h4>
                    </li>
                </ul>
            </div>
            <div class="profile-quote">
                <blockquote>
                    <p>
                        {{ suporte.descricao }}
                    </p>
                </blockquote>
                <div class="quote-footer">
                    <p class="pull-left"><b>{{ suporte.assunto }}</b></p>
                    <span class="datetime">{{ suporte.registroDataCriacao|date('d/m/Y') }}
                        às {{ suporte.registroDataCriacao|date('H:i') }}</span>
                </div>
            </div>
        </div>
    </section>
    {% if is_granted('ROLE_SUPORTE') or suporte.idUsuarioSolicitante.id == app.user.id %}
        <div class="panel">
            <div class="panel-body">
                <section class="simple-compose-box mb-xlg">
                    {{ form_start(form) }}
                    {{ form_widget(form.resposta) }}
                    {{ form_rest(form) }}
                    <div class="compose-box-footer">
                        <ul class="compose-btn">
                            <li>
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </div>
                    {{ form_end(form) }}
                </section>


            </div>
        </div>
    {% endif %}

    {% if suporte.iteracao|length %}
        <div class="panel-body">
            <div class="timeline timeline-simple mt-xlg mb-md">
                <div class="tm-body">
                    <ol class="tm-items">
                        {% for  i in suporte.iteracao|reverse %}

                            <li>
                                <div class="tm-box">
                                    <p class="text-muted mb-none">{{ i.registroDataCriacao|date('d/m/Y') }}
                                        às {{ i.registroDataCriacao|date('H:i') }}</p>
                                    <p>
                                        {{ i.resposta }}
                                    </p>
                                    <div class="tm-meta">
                                    <span>
                                        <i class="fa fa-user"></i>
                                        Respondido por  <a href="#">{{ i.idUsuario.nome }}</a>
                                    </span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <style>
            .widget-twitter-profile .profile-quote {
                background-color: #fdfdfd;
                color: #333;
            }

            .widget-twitter-profile .profile-quote .quote-footer {
                border-top-color: #005d7c;
                color: #333;
            }

        </style>
    {% endblock %}
    {% block javascripts2 %}
        {{ parent() }}
    {% endblock %}
