{% extends '@NteSite/Default/layout.site.html.twig' %}
{% block titulo %} Recurso/Formulário/{{ app.user.nome }} {% endblock %}
{% block chamada %}
    <div class="home-intro" id="home-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p>
                        Painel do candidato
                        <span># Recursos / FORMULÁRIO PARA ENCAMINHAMENTO DE RECURSO  </span>
                    </p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block conteudo %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="container">
        {{ include('@NteUsuario/Candidato/menu.html.twig') }}
        <div class="col-lg-9">
            <div class="row">
                <h3 class="mb-xl">
                    Encaminhamento de <strong>Recurso</strong>
                </h3>
            </div>
            <div class="row">
                {{ form_start( form) }}
                <div>
                    <div class="form-group">
                        {{ form_label(form.justificativa) }}
                        {{ form_widget(form.justificativa) }}
                    </div>
                    {{ form_rest( form) }}
                    <div class="row">
                        <div id="dz0" class="dropzone"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"></div>
                        <div class="alert alert-warning" role="alert"><strong>Observação: </strong>
                            Somente arquivos do tipo PDF ou imagem e que não ultrapassem o tamanho de 10Mb
                            serão aceitos neste formulário de inscrição.
                        </div>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-send"> </i> Enviar
                        </button>
                    </div>
                    <br>
                    {{ form_end( form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/dropzone/dropzone.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/dropzone/basic.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/pnotify/pnotify.custom.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/select2/css/select2.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/select2-bootstrap-theme/select2-bootstrap.css") }}">
{% endblock %}
{% block jsOpcional %}

    <script src="{{ asset('assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.pt-BR.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-mask/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/pnotify/pnotify.custom.js') }}"></script>
    <script src="{{ asset('assets/vendor/select2/js/select2.js') }}"></script>
    <script src="{{ asset('assets/vendor/CPF/CPF.min.js') }}"></script>
{% endblock %}

{% block  js %}
    <script>
        let arquivosSubmetidos = [], chkCampo = [], dzAreaAtivo = [];

        $('form').submit(function (e) {
            arquivosSubmetidos.forEach(function (v) {
                $('form').append('<input type="hidden" name="arquivos[]" value="' + v + '" /> ');
            });
        });

        /**
         * Cria uma nova instância do DropZone
         *
         * @param id
         * @param observacao
         * @param contexto
         * @param idContexto
         * @returns {Dropzone};
         */
        function mkDropZone(id, observacao, contexto, idContexto) {
            return new Dropzone("#dz" + id, {
                url: "{{ oneup_uploader_endpoint('frigadata') }}",
                headers: {
                    "x-contexto": contexto,
                    'x-id': idContexto
                },
                dictDefaultMessage: "<i class='fa fa-2x fa-upload'></i><br>" + observacao,
                acceptedFiles: "image/*,application/pdf",
                maxFilesize: 10,
                addRemoveLinks: true,
                dictRemoveFile: "Remover Arquivo",
                dictFileTooBig: "O arquivo escolhido excede o tamanho máximo permitido (10Mb). Reduza o arquivo e tente novamente",
                dictInvalidFileType: "O arquivo escolhido não é do tipo  imagem ou PDF. Escolha outro arquivo e tente novamente."

            }).on('sending', (arquivo, requisicao, dataset) => {
                requisicao.timeout = 99999999999999999;
            }).on('removedfile', (arquivo) => {
                let a = arquivo,
                    xhr = JSON.parse(a.xhr.response);
                if (typeof xhr.error == 'undefined') {
                    $.post('{{ path('arquivo_remover') }}', {id: xhr.id})
                        .complete(e => {
                            notificar(e.responseJSON);
                            arquivosSubmetidos.splice(arquivosSubmetidos.indexOf(xhr.id), 1);
                            chkCampo.splice(chkCampo.indexOf(id));
                        });
                    if (chkCampo.indexOf(id) !== -1) {
                        $("#chk" + id).prop("checked", false);
                    }
                }
            }).on('success', (arquivo, xhr) => {
                console.log(id);
                $("#chk" + id).prop("checked", true);
                notificar(xhr);
                arquivosSubmetidos.push(xhr.id);
                if (chkCampo.indexOf(id) === -1) {
                    chkCampo.push(id);
                }
            }).on('error', function (arquivo, xhr, requisicao) {
                if (requisicao.status === 500) {
                    notificar({msg: "Erro ao enviar arquivo!", tipo: "error"});
                }
                this.removeFile(arquivo);
            });
        }

        Dropzone.autoDiscover = false;
        dzAreaAtivo[0] = mkDropZone(0, "Anexar documentos", "RECURSO", {{ etapa.id }});

        /**
         *  Notificação
         * @param x
         * @returns {PNotify}
         */
        function notificar(x) {
            return new PNotify({
                text: x.msg,
                type: x.tipo,
                icon: 'fa fa-2x fa-exclamation-triangle'
            });
        }
    </script>
{% endblock %}