{% extends '@NteSite/Default/layout.site.html.twig' %}
{% block titulo %} Inscrições /{{ app.user.nome }} {% endblock %}
{% block chamada %}
    <div class="home-intro" id="home-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p>
                        Painel do candidato
                        <span># Inscrições</span>
                    </p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block conteudo %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="container">
        {{ include('@NteUsuario/Candidato/menu.html.twig') }}
        <div class="col-lg-9">
            <div class="row">
                <h3 class="mb-xl">
                    Minhas <strong>Inscrições</strong>
                </h3>
                {% if app.user.inscricao|length %}
                    <table class="table table-striped table-responsive">
                        <tbody>
                        {% for inscricao in app.user.inscricao|reverse %}
                            <tr>
                                <td>
                                    {% if inscricao.idSituacao == 0 %}
                                        <a href="{{ path('nte_usuario_candidato_inscricao_cancelar', {'uuid': inscricao.uuid}) }}"
                                           class="btn btn-dark remover "
                                           title="Clique aqui somente se você desejar cancelar a sua inscrição">
                                            CANCELAR <br> INSCRIÇÃO
                                        </a>
                                    {% endif %}
                                    {% if inscricao.idSituacao != -999 %}
                                        <a href="{{ path('nte_usuario_candidato_inscricao_visualizacao', {'uuid': inscricao.uuid}) }}"
                                           class="btn btn-primary">
                                            VER <br> INSCRIÇÃO
                                        </a>
                                    {% endif %}
                                    {% if inscricao.idSituacao == -999 %}
                                        <button disabled="disabled" class="btn btn-default" title="Inscrição cancelada">
                                            VER <br> INSCRIÇÃO
                                        </button>
                                    {% endif %}
                                </td>
                                <td class="">
                                    <small>
                                        {% if inscricao.idSituacao == -999 %}
                                            <span class="label label-dark">INSCRIÇÃO CANCELADA</span>
                                        {% else %}
                                            <span class="label label-success">INSCRIÇÃO REALIZADA</span>
                                        {% endif %}
                                    </small>
                                    <a href="{{ path('nte_site_edital', { id: inscricao.idEdital.id, url: inscricao.idEdital.url}) }}">
                                        <strong>{{ inscricao.idEdital.numero }} - {{ inscricao.idEdital.titulo }}</strong>
                                    </a><br>
                                    <i class="fa fa-ticket"></i> {{ inscricao.uuid }} -
                                    {{ inscricao.idCargo.descricao }}
                                    {% if inscricao.idCota is not null %}
                                        / {{  inscricao.idCota.descricao }}
                                    {% endif %}
                                </td>
                                <td width="170" class="text-right">
                                    {{ inscricao.registroDataCriacao|date('d/m/Y H:i:s') }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info">
                        Até o presente momento você ainda não realizou nenhuma inscrição.<br>
                        Verifique os editais que estão abertos e inscreva-se.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <style>
        td{
            line-height: 1.4em !important;
            vertical-align: middle !important;
        }
    </style>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet">

{% endblock %}
{% block jsOpcional %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
    <script>
        $(".remover").click(e => {
            e.preventDefault();
            let url = e.target.href;
            Swal.fire({
                title: 'Cancelar inscrição',
                text: "Você deseja cancelar sua inscrição neste edital?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'SIM',
                cancelButtonText: 'Não',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    window.location.href = url;
                }
            })
        })
    </script>
{% endblock %}
