{% extends 'base.admin.html.twig' %}
 {% block titulo %} Usuários{% endblock %}
 {% block breadcumbsTitulo %} Usuários {% endblock %}
 {% block breadcumbsItens %}
     <li><span><a href="#"> Usuários </a></span></li>
 {% endblock %}
{% block conteudo %}
    <div class="panel-body">
        <div class="row mb-lg">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control m-input" id="edital">
                            <option value="-1">
                                -- Edital --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control m-input" id="funcao">
                            <option value="-1">
                                -- Função --
                            </option>
                            <option value="1">
                                Candidato
                            </option>
                            <option value="2">
                                BANCA - Administração
                            </option>
                            <option value="3">
                                BANCA - Avaliação
                            </option>
                            <option value="4">
                                BANCA - Resultados
                            </option>
                            <option value="5">
                                BANCA - Convocação
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control m-input" id="papel">
                            <option value="-1" selected>
                                -- Papel --
                            </option>
                            <option value='ROLE_ADMIN"'>
                                ADMINISTRADOR
                            </option>
                            <option value="ROLE_AUDITOR">
                                AUDITOR
                            </option>
                            <option value="ROLE_SUPORTE">
                                SUPORTE TÉCNICO
                            </option>
                            <option value="ROLE_ADMIN_USER">
                                ADMINISTRADOR DE CONTAS DE USUÁRIO
                            </option>
                            <option value="ROLE_USER">
                                COMUM
                            </option>
                            <option value="ROLE_ADMIN_EDITAL">
                                EDITAL - ADMINISTRADOR DE EDITAL
                            </option>
                            <option value="ROLE_ADMIN_ARQUIVO">
                                EDITAL - DOWNLOAD DE ARQUIVO
                            </option>
                            <option value="ROLE_GERENCIAL">
                                EDITAL - RELATÓRIOS GERENCIAIS
                            </option>
                            <option value="ROLE_AVALIADOR">
                                EDITAL - AVALIADOR
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="input-group">
                    <input type="date" value="" id="dt0" class="form-control m-input">
                    <span class="input-group-addon" id="basic-addon3">Até</span>
                    <input type="date" value="" id="dt1" class="form-control m-input">
                </div>

            </div>
        </div>
        <table class="table table-striped table-condensed table-responsive mt-md" id="m_table">

        </table>
    </div>
    <style>
        .select2-container--default .select2-results > .select2-results__options {
            max-height: 400px;
            overflow-y: auto;
        }
    </style>
    <style>
        .dataTables_wrapper .dataTables_filter {
            /*   float: right;
               text-align: right;
               margin-top: 10px;
               */
            width: 100%;
        }

        .dataTables_wrapper .dataTables_filter input {
            /*  width: 350px;*/
            border: 1px solid #aaa;
            border-radius: 3px;
            padding: 5px;
            background-color: transparent;
            color: inherit;
            margin-left: 3px;
        }

        td {
            vertical-align: middle !important;
        }
    </style>
{% endblock %}
{% block javascripts2 %}
    <link href="{{ asset('assets/vendor/datatables/datatables.min.css') }}">
    <script src="{{ asset('assets/vendor/datatables/datatables.min.js') }}"></script>
    <script>
        $('select').select2({
            width: '100%',
        });
        $('#edital').select2({
            width: '100%',
            placeholder: "-- Edital --",
            closeOnSelect: true,
            // allowClear: true,
            dropdownAutoWidth: true,
            ajax: {
                url: '{{ path('auditoria_edital_api_lista') }}',
                dataType: 'json',
                method: "POST",
                data: (params) => {
                    return {
                        termo: params.term,
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            },
            escapeMarkup: markup => {
                return markup;
            }
        });
        let dt = function () {
            let initTable1 = function () {
                let table = $('#m_table').DataTable({
                    responsive: true,
                    searchDelay: 500,
                    processing: true,
                    dom: "<'row'>" +
                        "<'row'" +
                        "<'col-sm-5'f>" +
                        "<'col-sm-12'tr>>\n\t\t\t" +
                        "<'row'" +
                        "<'col-sm-12 col-md-5'i>" +
                        "<'col-sm-12 col-md-7 dataTables_pager'lp>>",
                    serverSide: true,
                    order: [[0, 'asc']],
                    lengthMenu: [5, 10, 15, 25, 50, 100, 200, 500, 1000],
                    ajax: '{{ path('nte_usuario_api_index') }}',
                    columns: [
                        {data: 'id'},
                        {data: 'nome'},
                        {data: 'profissao'},
                        {data: 'escolaridade'},
                        {data: 'dt'},
                        {data: 'id'},
                    ],
                    initComplete: function () {
                        $(".m-input").change(function () {
                            delete $.ajaxSettings.data;
                            $.ajaxSetup({
                                data: {
                                    papel: document.getElementById('papel').value,
                                    funcao: document.getElementById('funcao').value,
                                    edital: document.getElementById('edital').value,
                                    dt0: document.getElementById('dt0').value,
                                    dt1: document.getElementById('dt1').value,
                                }
                            });
                            table.ajax.url('{{ path('nte_usuario_api_index') }}');
                            table.draw();
                        });
                    },
                    columnDefs: [{
                        targets: 0,
                        className: "text-center",
                        style: 'vertical-align: middle;',
                        orderable: true,
                        width: 32,
                        render: function (data, type, full, meta) {
                            return '<img src="' + full.img + ' " class="img-circle" width="48">';
                        }
                    }, {
                        targets: 1,
                        orderable: true,
                        render: function (data, type, full, meta) {
                            return "<h5><a href='{{ path('nte_usuario_perfil') }}/" +full.id+"'>"
                                +"<b>" + full.cpf + " - </b>" + full.nome
                                +"</a>"
                                + "</h5>"
                                + "<small>"
                                + "<span title='Realizou "+ full.inscricao+" inscrições'>"
                                + '<i class="icon icon-user"></i> ' + full.inscricao
                                + "</span>"
                                + "&nbsp;|&nbsp;"
                                + "<span title='Participou na banca examinadora em  "+ full.banca+" editais'>"
                                + '<i class="icon icon-book-open"></i> ' + full.banca
                                + "</span>"
                                + "&nbsp;|&nbsp;"
                                + "<span title='e-Mail de contato'>"
                                + '<i class="icon icon-envelope"></i> ' + full.email
                                + "</span>"
                                + "&nbsp;|&nbsp;"
                                + "<span title='telefone de contato'>"
                                + '<i class="fa fa-whatsapp"></i> ' + full.telefone1
                                + "</span>"
                                + "</small><br>"
                                + "<small>"

                                + "<span title='Papeis habilitados'>"
                                + '<i class="icon icon-compass"></i> '
                                + full.papel
                                + "</span>"
                                + "</small>";
                        }
                    }, {
                        targets: -1,
                        className: "text-right ",
                        width: "150",
                        render: function (data, type, full, meta) {
                            let txt = "",
                                btn = document.createElement('a'),
                                btnGroup = document.createElement('div'),
                                icone = document.createElement('i');
                            icone.className = 'fa fa-';
                            btn.className = "m-portlet__nav-link btn m-btn  m-btn--icon m-btn--icon-only m-btn--pill ";
                            btn.title = "Clique aqui para ";
                            //btnGroup.className = 'btn-group'
                            let btn0 = btn.cloneNode(true),
                                btn1 = btn.cloneNode(true),
                                btn2 = btn.cloneNode(true),
                                btn3 = btn.cloneNode(true),
                                btn4 = btn.cloneNode(true),
                                btn5 = btn.cloneNode(true),
                                btn6 = btn.cloneNode(true),
                                btn7 = btn.cloneNode(true),
                                btn8 = btn.cloneNode(true),
                                btn9 = btn.cloneNode(true),

                                icone9 = icone.cloneNode(true),
                                icone8 = icone.cloneNode(true),
                                icone7 = icone.cloneNode(true),
                                icone6 = icone.cloneNode(true),
                                icone5 = icone.cloneNode(true),
                                icone4 = icone.cloneNode(true),
                                icone3 = icone.cloneNode(true),
                                icone2 = icone.cloneNode(true),
                                icone1 = icone.cloneNode(true),
                                icone0 = icone.cloneNode(true)
                            ;

                            icone0.className += 'edit';
                            btn0.href = "{{ path('nte_usuario_editar') }}/" + full.id;
                            btn0.className += "m-btn--hover-brand ";
                            btn0.title += "editar usuário";
                            btn0.appendChild(icone0);


                            if (full.ativo) {
                                icone1.className += 'power-off';
                                btn1.title += "desativar usuário";
                            } else {
                                icone1.className += 'power-off';
                                btn1.title += "ativar usuário";
                            }

                            btn1.dataset.href = "{{ path('nte_usuario_ativar') }}/" + full.id;
                            btn1.className += "btn executar";

                            btn1.appendChild(icone1);

                            icone2.className += 'user-md';
                            btn2.href = "{{ path('nte_admin_painel_homepage') }}?_switch_user=" + full.username;
                            btn2.className += "btn";
                            btn2.title += "realizar o 'acesar como' o usuário ";
                            btn2.appendChild(icone2);

                            icone3.className += 'lock';
                            btn3.href = "{{ path('nte_usuario_redefinir') }}/" + full.id;
                            btn3.className += "m-btn--hover-brand ";
                            btn3.title += "redefinir senha do usuário";
                            btn3.appendChild(icone3);

                            btnGroup.append(btn0);
                            btnGroup.append(btn1);
                            btnGroup.append(btn2);
                            //btnGroup.append(btn3);
                          //  btnGroup.append(btn8);

                            return btnGroup.outerHTML;
                        }
                    },
                    ],
                    language: {
                        lengthMenu: " _MENU_",
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        // "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "",
                        "searchPlaceholder": "Pesquisar",
                        /* "oPaginate": {
                             "sNext": "Próximo",
                             "sPrevious": "Anterior",
                             "sFirst": "Primeiro",
                             "sLast": "Último"
                         },*/
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        }
                    }
                });
            };
            return {
                init: function () {
                    initTable1();
                },
            };
        }();
        jQuery(document).ready(function () {
            dt.init();
        });
    </script>
    <style>
        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {

            vertical-align: middle;
        }
    </style>
{% endblock %}